<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tabbarCtrl自定义transition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC41B8B61C7E9E06008CE9C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC41B8CF1C7E9E07008CE9C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC41B8DA1C7E9E07008CE9C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
